.sidebar {
  width: 200px;
  margin: 0;
  padding: 0;
  background-color: #181c2e;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding-top: 30px;
}

.sidebar div img {
  width: auto;
  height: 90px;
  display: block;
  margin: auto;
  object-fit: cover;
  filter: drop-shadow(2px 3px 6px #121212);
}

.sidebar a {
  display: block;
  padding: 16px;
  display: flex;
  text-decoration: none;
  color: rgb(245, 249, 249);
  flex-direction: row;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.sidebar a svg {
  margin-right: 0.5rem;
}

.sidebar a:hover,
.nav-link.active {
  background-color: #121212;
  color: white;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
}

.sidebar-footer {
  margin-top: 10rem;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}

.sidebar-footer span {
  display: block;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

/* Responsivo */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .content {
    margin-left: 0;
  }

  .sidebar a {
    float: right;
  }

  .sidebar div {
    display: none;
  }
}
